{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
<style>

    .card-container {
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        width: 80%;
    }

    .card-img {
        object-fit: cover;
    }

    .card-title {
        padding-left: 20px;
        font-weight: bold;
    }

    .card {
        display: flex;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .card-text1 {
        padding-left: 20px;
        color: gray;
        font-weight: bold;
    }

    .text-container {
        margin-left: 20px;
        background-color: black;
        border-radius: 15px;
        width: 100px;
    }

    .card-text2 {
        letter-spacing: 5px;
        text-align: center;
        color: white;
        font-weight: bold;
    }

    .card-text3 {
        padding-left: 20px;
        font-weight: bold;
    }

    .btn {
        background-color: black;
    }

    .card-title1 {
        margin: 40px;
        font-weight: bold;
        text-align: center;
    }

    .card1 {
        margin: 50px 100px 50px 100px;
    }

    .panier-title {
        text-align: center;
        font-weight: normal;
    }

    .panier-achat {
        margin: 0 auto;
        padding-left: 0px;
        margin-bottom: 20px;
    }

    .panier-p {
        font-size: small;
        color: grey;
    }

    .btn {
        display: flex;
        border-radius: 20px;
        text-align: center;
    }


    @media (max-width: 640px) {
        .card {
            display: flex;
            margin: 0 auto;
            margin-top: 20px;
            width: 22rem;
        }

        .card-container {
            display: flex;
            margin: 0 auto;
            flex-wrap: wrap;
        }

        .panier-achat {
            margin-top: 30px;
        }
    }
</style>
        <div class="card card1 rounded-5 shadow">
            <div class="card-body">
            <h5 class="card-title1">Votre panier (2)</h5>
                <div class="card-container">
                    <div class="card rounded-5 overflow-hidden shadow-sm" style="width: 25rem;">
                    <img src="https://www.stereolux.org/sites/default/files/styles/auto_1920/public/ged/carremakala_0.jpg?itok=x1OG7Xq1" class="card-img-top card-img" alt="concert makala" height="200rem">
                        <div class="card-body">
                        <h5 class="card-title text-start">Makala - Elysée Montmartre</h5>
                        <p class="card-text1 fs-6 text-start">22 Novembre 2022</p>
                        <p class="card-text3 fs-2 text-start">39€</p>
                        <div class="text-container">
                            <p class="card-text2 fs-6">- 1 +</p>
                        </div>
                    </div>
                </div>

                <div class="card rounded-5 overflow-hidden shadow-sm" style="width: 25rem;">
                    <img src="https://www.worldartfoundations.com/wp-content/uploads/2021/09/411307_b5a8bc072878835a6bc3c6b026748f21.jpg" class="card-img-top card-img" alt="bianca" height="200rem">
                    <div class="card-body">
                        <h5 class="card-title text-start">Open Space #8 Bianca Bondi</h5>
                        <p class="card-text1 fs-6 text-start">06 décembre 2022</p>
                        <p class="card-text3 fs-2 text-start">25€</p>
                        <div class="text-container">
                            <p class="card-text2 fs-6">- 2 +</p>
                        </div>
                    </div>
                </div>

                <div class="panier-achat">
                    <h5 class="panier-title">Total: €89</h5>
                    <h5 class="panier-p">Toutes charges incluses</h5>
                    <a href="#" class="btn btn-primary">Acheter</a>
                    <a href="#" class="btn btn-primary">Continuer les achats</a>
                </div>



            </div>
        </div>
    </div>
    </div>
    </body>
{% endblock %}
