{% extends 'basevariant.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}

    <script>
        window.onload=function(){

            var bouton = document.getElementById('test');
            var div = document.getElementById('showdiv');

            bouton.onclick = function(){
                if(div.style.display=="block"){
                    div.style.display="none";
                }
                else{
                    div.style.display="block";
                }
            };

            var bouton2 = document.getElementById('test2');
            var div2 = document.getElementById('showdiv2');

            bouton2.onclick = function(){
                if(div2.style.display=="block"){
                    div2.style.display="none";
                }
                else{
                    div2.style.display="block";
                }
            };
        };


    </script>

    <style>

        html {
            scroll-behavior: smooth;
        }

        .btn-panier {
            background-color: #784F86;
            margin-right: 10px;
        }

        .btn-panier:hover {
            background-color: #784f867b;
        }

        h3 {
            text-align: center;
        }

        a {
            text-decoration: none;
            color: black;
        }

        .adresse-card {
            margin-top: 30px;
        }

        #showdiv {
            display: none;
        }

        #showdiv2 {
            display: none;
        }

    </style>

    <section class="h-100" style="background-color: #eee;">
        <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-10">

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="fw-normal mb-0 text-black">Vos articles</h3>
                    </div>

                    <div class="card rounded-3 mb-4">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img
                                            src="https://www.stereolux.org/sites/default/files/styles/auto_1920/public/ged/carremakala_0.jpg?itok=x1OG7Xq1"
                                            class="img-fluid rounded-3" alt="Concert">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <p class="lead fw-normal mb-2"></p>
                                    <p><span class="text-muted">Date: </span>? <span class="text-muted">Lieu: </span>?</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                    <div class="input-group w-auto justify-content-end align-items-center">
                                        <input type="button" value="-" class="button-minus border rounded-circle icon-shape icon-sm mx-1" data-field="quantity">
                                        <input type="number" step="1" max="10" value="1" name="quantity" class="quantity-field border-0 text-center w-25">
                                        <input type="button" value="+" class="button-plus border rounded-circle icon-shape icon-sm" data-field="quantity">
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <h5 class="mb-0">0€</h5>
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                    <a href="#!" class="text-danger"><box-icon name='trash-alt' type='solid' color='#f56c6c' ></box-icon></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <input type="hidden" name="liste" id="liste">
                            <button type="button" class="btn btn-light btn-block btn-lg" ><a href="{{ path('app_affichage') }}">Continuer vos achats</a></button>
                            {% if app.user %}
                                <button id="test" type="button" class="btn btn-block btn-lg btn-panier text-white"><a
                                            href="#showdiv" class="text-white">Passer à la facturation</a></button>
                            {% else %}
                                <button id="test2" type="button" class="btn btn-block btn-lg btn-panier text-white"><a
                                            href="#showdiv2" class="text-white">Passer à la facturation</a></button>
                                <div id="showdiv2">
                                    <p class="alert alert-danger" style="margin-top:20px">Vous devez vous connecter pour passer la commande. <a class="text-black" href="{{ path('app_login') }}">Se connecter</a></p>
                                </div>
                            {% endif %}
                        </div>
                    </div>


                        <div id="zone">
                        </div>
                            <td id="bas" colspan="3"></td>
                            <td><span id="total">0</span>€</td>

                    <div id="showdiv">
                        <div class="card adresse-card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8 order-md-1">
                                        <h4 class="mb-3" style="margin-bottom: 10px">Adresse de facturation</h4>
                                        <form class="needs-validation" novalidate>
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="prenom">Nom</label>
                                                    <input type="text" class="form-control" id="firstName" placeholder="Jean" value="" required>
                                                    <div class="invalid-feedback">
                                                        Veuillez indiquer un prénom.
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="nom">Nom</label>
                                                    <input type="text" class="form-control" id="lastName" placeholder="Dupont" value="" required>
                                                    <div class="invalid-feedback">
                                                        Veuillez indiquer un nom.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="email">Email <span class="text-muted">(Vous recevrez votre ticket par mail.)</span></label>
                                                <input type="email" class="form-control" id="email" placeholder="jeandupont@exemple.com">
                                                <div class="invalid-feedback">
                                                    Veuillez indiquer une adresse mail valide.
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="adresse">Adresse</label>
                                                <input type="text" class="form-control" id="adresse" placeholder="9 rue du Quebec" required>
                                                <div class="invalid-feedback">
                                                    Veuillez indiquer une adresse.
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="adresse2">Adresse 2 <span class="text-muted">(Optionnel)</span></label>
                                                <input type="text" class="form-control" id="adresse2" placeholder="N° Appartement">
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3 mb-3">
                                                    <label for="zip">Code postal</label>
                                                    <input type="text" class="form-control" id="zip" placeholder="10000" required>
                                                    <div class="invalid-feedback">
                                                        Veuillez indiquer un code postal.
                                                    </div>
                                                </div>
                                                <div class="col-md-5 mb-3">
                                                    <label for="pays">Pays</label>
                                                    <select class="custom-select d-block w-100" id="pays" required>
                                                        <option value="">Choisir...</option>
                                                        <option>France</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Veuillez sélectionner un pays.
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="mb-4">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="newslatter">
                                                <label class="custom-control-label" for="save-info">J'accepte de recevoir des offres et des réductions par mail.</label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="card adresse-card">
                            <div class="card-body">
                                <h4 class="mb-3">Paiment</h4>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="cc-name">Nom</label>
                                        <input type="text" class="form-control" id="cc-name" placeholder="Jean Dupont" required>
                                        <small class="text-muted">Nom complet figurant sur la carte</small>
                                        <div class="invalid-feedback">
                                            Le nom est requis.
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="cc-number">Numéro de carte</label>
                                        <input type="text" class="form-control" id="cc-number" placeholder="6354 XXXX XXXX XXXX" required>
                                        <div class="invalid-feedback">
                                            Le numéro de carte est requis.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <label for="cc-expiration">Expiration</label>
                                        <input type="text" class="form-control" id="cc-expiration" placeholder="09/25" required>
                                        <div class="invalid-feedback">
                                            La date d'expiration est requise.
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="cc-expiration">CVV</label>
                                        <input type="text" class="form-control" id="cc-cvv" placeholder="876" required>
                                        <div class="invalid-feedback">
                                            Le code de sécurité est requis.
                                        </div>
                                    </div>
                                </div>
                                <form action="{{ path('app_finalisation') }}" method="post">
                                    <input type="hidden" name="liste" id="liste">
                                    <button style="margin-top:20px" class="btn btn-primary btn-lg btn-block" type="submit">Valider ma commande</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}