{% extends 'baselogin.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <style>
        .vh-100 {
            background-image: url("{{ asset('assets/images/fondlogin.jpg')}}");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;">
        }
        .rightlogin {
            position: absolute;
            right: 0;
            height: 100vh;
        }

        @media only screen and (min-width: 768px){
            .colmd7 {
                flex: 0 0 auto;
            }}
        @media only screen and (max-width: 768px){
            .colmd7 {
                flex: 0 0 auto;
                width: 100%;
            }}
    </style>
    <section class="vh-100">
        <!--  <img class="rightlogin" src="{{ asset('assets/images/rightlogin.png') }}" alt=""> -->
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <p class="img-fluid fw-bold" style="font-size: 4rem; color: #FFFFFF">Vos billets,
                        Partout, <br>
                        <span style="color: black">Tout le temps. </span></p>
                </div>

                <div class="colmd7 col-lg-5 col-xl-5 offset-xl-1" style="z-index: 1;">
                    <div class="d-flex justify-content-around align-items-center mb-4" style="flex-direction: column;">
                    <p class="fw-bold" style="font-size: 50px;">S’inscrire</p>
                    <p class="" style="color:#666666;font-size: 25px;">Créer votre compte</p>
                    </div>
                    <form method="post">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" name="email" id="inputEmail" class="form-control form-control-lg" autocomplete="email" required autofocus/>
                            <label class="form-label" for="form1Example13">Email address</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" name="password" id="form1Example23" class="form-control form-control-lg" autocomplete="current-password" required />
                            <label class="form-label" for="inputPassword">Password</label>
                        </div>


                        <!-- Submit button -->
                        <a class="btn btn-primary btn-lg btn-block" style="background-color: #1B202C;border: black;width: 100%;" href="#!"
                           role="button">
                            <i class="fab fa-facebook-f me-2"></i>Créer un compte</a>

                        <div class="d-flex justify-content-around align-items-center mb-4">
                            <p class="text-center mx-3 mb-0 text-muted" style="margin-top: 20px;color:#666666;">Vous avez déjà un compte ?</p>
                        </div>


                        <button class="btn btn-primary btn-lg btn-block" style="background-color: #1B202C;border: black;width: 100%;" href="{{ path('app_login') }}">Se connecter</button>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    </form>
                </div></div></div>

    </section>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
{% endblock %}
