{% extends 'base.html.twig' %}

{% block title %}Hello FinalisationController!{% endblock %}

{% block body %}
    {% block php %}
        <?php
    echo "<h1>il reste à sauvegarder tout ça...</h1>"
        echo $_POST['liste']
        ?>
    {% endblock %}
{% endblock %}
