{% extends 'basevariant.html.twig' %}

{% block title %}Conditions générales de vente{% endblock %}

{% block body %}

    <style>

        #title {
            margin-top: 40px;
        }
        #pdf {
            margin-top: 60px;
            text-align: center;
        }
    </style>

<p id="title" style="text-align:center;"><strong>CONDITIONS GENERALES DE VENTE</strong></p>

    <div id="pdf">
        <object type="application/pdf" width="80%" height="600rem">
            <param name="src" value="{{ asset('assets/pdf/cgv.pdf') }}" />
            <p>Il semble que votre navigateur ne soit pas en capacité d'afficher le fichier PDF.
                Pas de soucis, vous pouvez le télécharger ici : <a href="{{ asset('assets/pdf/cgv.pdf') }}">télécharger le pdf.</a>
            </p>
        </object>
    </div>

{% endblock %}
