{% extends 'basevariant.html.twig' %}

{% block title %}Conditions générales de vente{% endblock %}

{% block body %}

    <style>

        #title {
            margin-top: 40px;
        }
        #pdf {
            margin-top: 60px;
            text-align: center;
        }
    </style>

<p id="title" style="text-align:center;"><strong>CONDITIONS GENERALES DE VENTE</strong></p>

    <div id="pdf">
        <iframe src="{{ asset('assets/pdf/cgv.pdf') }}" height="700rem" width="700rem"></iframe>
    </div>

{% endblock %}
