{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .sectionun {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("{{ asset('assets/images/hero.jpg') }}");
    }
    .sectiondeux {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
    }

    .sectionun p {
        color: white;
        font-size: 90px;
        width: 60%;
        font-weight: bolder;
    }

    .sectiondeux p {
        color: white;
        font-size: 50px;
        width: 60%;
        text-align: left;
    }

    .sectiondeux p span {
        font-weight: bold;
    }
</style>

<div class="sectionun">
    <p>Tous vos billets, un seul site.</p>


</div>
    <div class="sectiondeux">
        <div class="textdeux">
        <p>Votre ville comme <br>
            vous ne l’avez <span>JAMAIS</span> vu</p>
        <p class="minitext">Obtenez votre billet pour l’évènement de <br>
            votre choixx.</p>
        </div>
        <img src= url("{{ asset('assets/images/hand.png') }}") alt="">
    </div>
{% endblock %}
