{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<style>
    .sectionun {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("{{ asset('assets/images/hero.jpg') }}");
    }
    .sectionun {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
    }

    h1 {
        font-size: 90px;
        width: 60%;
    }
</style>

<div class="sectionun">
    <h1>Tous vos billets, un seul site.</h1>


</div>
    <div class="sectiondeux">
        <h1>Tous vos billets, un seul site.</h1>


    </div>
{% endblock %}
