
<footer>
    <div class="linkfooter">
        <a href="">Privacy Policy</a>
        <a href="">Terms of Use</a>
        <a href="">Purchase Terms</a>
        <a href="">Cookie Settings</a>
        <a href="">Français</a>
    </div>
    <div>
        <p>© fzeqv FM Ltd</p>
    </div>
</footer>
