<style>
    /* footer */
    footer {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: black;
    }
    footer p {
        color: white;
        margin-bottom: 0px;
    }


    .linkfooter a {
        text-decoration: none;
        color: rgb(133, 133, 133);
        margin: 5px;
        margin-right: 30px;
    }

    @media (max-width:690px) {
        footer {
            display: flex;
            flex-direction: column;
            padding-top: 40px;
            padding-bottom: 40px;
            height: fit-content;
        }

        .linkfooter {
            display: flex;
            flex-direction: column;
        }
    }
</style>


<footer>
    <div class="linkfooter">
        <a href="">Conditions générales de vente</a>
        <a href="">Mentions légales</a>
        <a href="">Politique en matière de cookies</a>
        <a href="">Français</a>
    </div>
    <div>
        <p>© OUHPUNAISE</p>
    </div>
</footer>
