<style>

    li {
        margin-right: 20px;
    }

</style>


<nav class="navbar navbar-expand-lg bg-dark">
    <a class="navbar-brand text-white" href="#">OUHPUNAISE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Agenda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Billeterie</a>
            </li>
                <li class="nav-item">
                    <button class="btn btn-light" type="button"><a class="nav-link" href="#">LOG IN</a></button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-light" type="button"><a class="nav-link" href="#">MON PANIER  <span class="badge badge-pill bg-success">2</span></a>
                    </button>
                </li>
        </ul>
    </div>
</nav>

