{% extends 'base.html.twig' %}

{% block title %}Hello FinalisationController!{% endblock %}

{% block body %}

<h1>GG COMMANDE REUSSIE</h1>
    <script>
        document.cookie = '[]; path=/';
    </script>

{% endblock %}
